{% extends 'AppBundle::base.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% block body %}

    <div class="div-ad-ad">
        <h3>Изменить объявление</h3>
    </div>
    <div class="col-md-12 col-md-offset-0">
        <div id="company-page-ad">
            {{ form_start(edit_form) }}
                {{ form_row(edit_form.header) }}
                {{ form_row(edit_form.category) }}
                {{ form_row(edit_form.description) }}
                {{ form_row(edit_form.photo) }}
                {{ form_row(edit_form.price) }}
                <button type="submit" class="btn btn-primary btn-lg active">Изменить</button>
            {{ form_end(edit_form) }}
        </div>
    </div>



{% endblock %}