{% extends 'AppBundle::base.html.twig' %}

    {% block category %}
        <div class="jumbotron">
        <section id="search-container">
                <div class="row">
                        <div class="li_fleft">
                            <div class="item_item">
                                <a href="{{ path('category_ovowi') }}">
                                    <span class="cat-icon cat-icon-circle cat-icon-6">
                                       <img src="photo/broccoli.png">
                                    </span>
                                    <span class="span_ovowi">Овощи</span>
                                </a>
                            </div>
                        </div>
                        <div class="li_fleft">
                            <div class="item_item">
                                <a href="{{ path('category_fructi') }}">
                                        <span class="cat-icon cat-icon-circle cat-icon-6">
                                           <img src="photo/watermelon.png">
                                        </span>
                                    <span class="span_ovowi">Фрукты и ягоды</span>
                                </a>
                            </div>
                        </div>
                        <div class="li_fleft">
                            <div class="item_item">
                                <a href="#"><img src="photo/milk.png">
                                    <span class="span_ovowi">Молочные изделия</span>
                                </a>
                            </div>
                        </div>
                        <div class="li_fleft">
                            <div class="item_item">
                                <a href="#">
                                        <span class="cat-icon cat-icon-circle cat-icon-6">
                                           <img src="photo/doughnut.png">
                                        </span>
                                        <span class="span_ovowi">Кондитерские изделия</span>
                                </a>
                            </div>
                        </div>
                        <div class="li_fleft">
                            <div class="item_item">
                                <a href="#">
                                        <span class="cat-icon cat-icon-circle cat-icon-6">
                                           <img src="photo/steak.png">
                                        </span>
                                    <span class="span_ovowi">Мясо</span>
                                </a>
                            </div>
                        </div>
                        <div class="li_fleft">
                            <div class="item_item">
                                <a href="#">
                                            <span class="cat-icon cat-icon-circle cat-icon-6">
                                               <img src="photo/baguette.png">
                                            </span>
                                    <span class="span_ovowi">Хлеб, сдоба</span>
                                </a>
                            </div>
                        </div>
                </div><!-- /.row -->
        </section>
        </div>
    {% endblock %}

    {% block body %}
        {% for oProduct in oProducts %}
        <section id="product_section">
            <div class="col">
                <div class="col-sm-3 col-md-3">
                    <div class="thumbnail">
                        <a href="{{ path('new_show', { 'id': oProduct.id }) }}"><img class="image1" src="{{ asset('uploads/' ~ oProduct.photo) }}" alt="{{ oProduct.header }}"></a>
                        <div class="caption">
                            <a href="{{ path('new_show', { 'id': oProduct.id }) }}"><h4>{{ oProduct.header }}</h4></a>
                            <a href="{{ path('new_show', { 'id': oProduct.id }) }}"><h4>{{ oProduct.price }}</h4></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endfor %}
        <div class="show_all">
        <div class="col-sm-12 col-md-12">
            <div class="all_index_div">
                <a href="{{ path('all_index') }}">Посмотреть все <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        </div>
    {% endblock %}
