{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <h2>Объявления</h2>
        <p>Здесь вы найдете ваши объявления</p>

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Объявления</a></li>
            <li><a data-toggle="tab" href="#menu1">Настройки</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="product_section_2">
                    <table class="table">
                        <thead>
                        <tr>
                            <th><strong>Номер объявления</strong></th>
                            <th><strong>Название продукта</strong></th>
                            <th><strong>Категория</strong></th>
                            <th><strong>Цена</strong></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for oProduct in oProducts %}
                            <tr>
                                <td>{{ oProduct.id }}</td>
                                <td>{{ oProduct.header }}</td>
                                <td>{{ oProduct.category }}</td>
                                <td>{{ oProduct.price }} тг.</td>
                                <td><a href="{{ path('new_show', { 'id': oProduct.id }) }}" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></td>
                                <td><a href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove"></span></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="menu1" class="tab-pane fade">
                <div class="product_section_2">'
                    <div class="setting-table">
                    <table class="table">
                        <tbody>
                        <tr class="active">
                            <td><a href="#">Изменить контактные данные</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">Изменить пароль</a></td>
                        </tr>
                        <tr class="active">
                            <td><a href="#">Изменить email-адрес</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">Удалить учетную запись</a></td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
