{% extends 'AppBundle::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}

<div class="div-ad-ad">
    <h3 class="ad-ad">Подать объявление на ОптовичОк</h3>
</div>

        <div id="company-page-ad">
                {{ form_start(form) }}
                {{ form_row(form.header) }}
                {{ form_row(form.category) }}
                {{ form_row(form.description) }}
                {{ form_row(form.photo) }}
                <p class="help-block">Выберите фотографию для вашего объявления, пожалуйста.</p>
                <button type="submit" class="btn btn-primary btn-lg active">Опубликовать</button>
                {{ form_end(form) }}
                <ul>
                        <li>
                                <a href="{{ path('new_index') }}">Back to the list</a>
                        </li>
                </ul>
        </div>



{% endblock %}