{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    {% for oProduct in oProducts %}
        <section id="product_section">
            <div class="col">
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="{{ path('new_show', { 'id': oProduct.id }) }}"><img class="image1" src="{{ asset('uploads/' ~ oProduct.photo) }}" alt="{{ oProduct.header }}"></a>
                        <div class="caption">
                            <a href="{{ path('new_show', { 'id': oProduct.id }) }}"><h4>{{ oProduct.header }}</h4></a>
                            <a href="{{ path('new_show', { 'id': oProduct.id }) }}"><h4>{{ oProduct.price }}</h4></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}
    <div class="col-sm-12 col-md-12">
        <div class="all_index_div">
            <a href="{{ path('all_index') }}">Посмотреть все ></a>
        </div>
    </div>
{% endblock %}