{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <section id="product_section">
        <div class="col">
            <div class="col-sm-4 col-md-4">
                <div class="thumbnail">
                    <img class="image1" src="{{ asset('uploads/' ~ oProduct.photo) }}" alt="{{ oProduct.header }}">
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="div1_show">
                    <div><h2>{{ oProduct.header }}</h2></div>
                    <div><h4>{{ oProduct.description }}</h4></div>
                    <div><h3>{{ oProduct.price }} тг.</h3></div>
                    <ul>
                        <li class="border_li">
                            <a href="{{ path('all_index') }}">Назад</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="div2_show">
                    {% for oUser in oUsers %}
                        <div><h3>{{ oUser.username }}</h3></div>
                        <div><h4>+{{ oUser.telephone }}</h4></div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>

{% endblock %}
