{% extends 'AppBundle::base.html.twig' %}

{% block body %}

    <div class="product_body">
        <div class="product_information">
            <div class="product_image">
                <img class="image1" src="{{ asset('uploads/' ~ oProduct.photo) }}" alt="{{ oProduct.header }}">
            </div>
            <div class="product_header">
                <h2>{{ oProduct.header }}</h2>
            </div>
            <div class="product_descrition">
                <p>{{ oProduct.description }}</p>
            </div>
        </div>
        <div class="user_information_price">
            <div class="product_price">
                <h3>{{ oProduct.price }}</h3>
            </div>
            {% for oUser in oUsers %}
            <div class="product_user">
                <h3>{{ oUser.Username }}</h3>
            </div>
            <div class="product_user_telephone">
                <h3>{{ oUser.telephone }}</h3>
            </div>
            {% endfor %}
        </div>
        <div class="product_back"><a href="{{ path('all_index') }}">Назад</a></div>
    </div>

{% endblock %}
















